body{background-color: blueviolet;

}
h1 {
  font-style: oblique;
  text-align: center;
  size: 30px;
}
h2 {
  font-weight:600
  font-family: font-style: italic;
  text-align: center;
  lint-height: Normal
}
